.register-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.register-title {
  color: #28a745;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.register-input:focus {
  border-color: #28a745;
}

.register-input{
  background-color: rgb(200, 185, 185);
}

.button-group {
  display: flex;
  justify-content: space-between; /* space between buttons */
  gap: 10px; /* spacing */
}

.register-button,
.login-button {
  flex: 1;                /* equal width */
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.register-button:hover,
.login-button:hover {
  background: #1e7e34;
}
